/*main page header of dapoli*/
.main-container{
	margin:2px 2px 2px 2px;
	border-color:goldenrod;
}

/* Add a black background color to the top navigation */
 .topnav{
 background-color:black;
 overflow: hidden;
 margin-top: 2px solid white;
 
 }
 /* Style the links inside the navigation bar */
 .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 /* Change the color of links on hover */
 .topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.links {
border-color:black; 
}
.footer-home{
 
 background-color: aquamarine;	
 margin-top:80%;
 bottom: 0;
 position:relative;
 width:100%;

 
}

.dapoli-header{
	background-color:rgba(231, 231, 231, 0.993);
	padding:15px;
	text-align:center; 
	color: rgb(79, 167, 159);
	position: relative;
	text-shadow: 1px 2px 4px 4px whitesmoke;
	margin-bottom: 8px;
	box-shadow: 2px 4px 4px rgb(37, 37, 37);
}

.container{
	height:100%;
	width: 100%;
	position: absolute;

	overflow-x:hidden;
}

.left{
	width:25%;
	height:50%;
	float: left;
	background-color:whitesmoke;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-panel{
	width:25%;
	height:50%;
	float: right;
	background-color:whitesmoke;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.center{
	width: 47%;
	border: 1px solid black;
	float:left;
	height: 50%;
	margin-top:5px;
	margin-left: 5px;
}

#in_right_panel{
	margin-left: 6px;
}
