/* Float four columns side by side */
.column {
    float: left;
    width: 22%;
    padding: 0 2px;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Remove extra left and right margins, due to padding */
.row {
    margin: 2px -5px;
}

  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }